apiVersion: v1
kind: Service
metadata:
  name: node-service
  namespace: devops-project
  labels:
    app: node-app
spec:
  selector:
    app: node-app
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080