apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
  namespace: devops-project
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
        - name: node-app
          image: anyasi/node-mongo-app:latest   
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: MONGO_URI                   
              valueFrom:
                configMapKeyRef:
                  name: node-mongo-config
                  key: mongo_url
